<!DOCTYPE html>
<html lang="en">
<head>
    <title>AGP Children's Ministry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='attendance.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/attendance">Take Attendance</a>
        <a href="/roster">Manage Roster</a>
        <a href="/history">Attendance History</a>
        <a href="/logout" class="nav-logout">Log Out</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>